.centrado{
    text-align: center;
}
.espaciar{
	padding-top: 100px;
	padding-bottom: 100px;
}
.frases i{
    font-size: 100px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-sizing: border-box;
    height: 3cm;
    border-bottom: 1px solid #ccc;
}   

header img {
    height: 100%;
    max-height: 3cm; 
    object-fit: contain; /* Ajuste para asegurar que el logo se vea completo */
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    flex: 1;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    height: 1.5cm;
    border-bottom: 1px solid #ccc;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

nav ul li a:hover {
    color: #007BFF;  
    transition: color 0.3s ease; 
}

main {
    display: flex;
    flex: 1;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;
}

#nosotros {
    flex: 1;
}

#nosotros h2 {
    font-weight: bold;
}

#nosotros p {
    white-space: pre-line;
}

main img {
    width: 50%;
    height: auto;
    object-fit: contain;
}

footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #ccc;
    height: 1cm;
}
