<footer>
    <style>
        
    </style>
    <div class="footer-wrapper">
  
      <div class="social-wrapper">
          <div class='social-links'>
              <ul>
                  <li>
                      <a href="#" title="Instagram">
                        <img src="img/footer/instagram.svg" alt='Instagram'>                   
                      </a>
                  </li>
                  <li>
                      <a href="#" title="Linkedin">
                          <img src="/img/footer/linkedin.svg" alt='Linkedin'>
                      </a>
                  </li>
                  <li>
                      <a href="#" title="Twitter">
                          <img src="/img/footer/twitter.svg" alt='Twitter'>
                      </a>
                  </li>
                  <li>
                      <a href="#" title="Youtube">
                          <img src="/img/footer/youtube.svg" alt='YouTube'>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
    
      <div class="footer-columns">
          <div class="footer-links">
              <div class="footer-logo">
                  <img src="/img/logo-tecnik.png" alt="tecnik">
                  
              </div>
              
              <div>
                  <a href="#" title="servicios">Servicios</a>
                  <ul>
                      <li>
                          <a href="#" title="diseño">Diseño UX UI</a>
                      </li>
                      <li>
                          <a href="#" title="desarrollo">Desarrollo</a>
                      </li>
                      <li>
                          <a href="#" title="mantenimiento">Mantenimiento</a>
                      </li>
                      <li>
                          <a href="#" title="ios">Apps iOS</a>
                      </li>
                      <li>
                          <a href="#" title="android">Apps Android</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <a href="#" title="sectores">Sectores</a>
                  <ul>
                      <li>
                          <a href="#" title="corporativo">Corporativo</a>
                      </li>
                      <li>
                          <a href="#" title="energia">Energía</a>
                      </li>
                      <li>
                          <a href="#" title="salud">Salud</a>
                      </li>
                      <li>
                          <a href="#" title="logistica">Logística</a>
                      </li>
                      <li>
                          <a href="#" title="ecommerce">eCommerce</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <a href="#" title="empresa">Empresa</a>
                  <ul>
                      <li>
                          <a href="#" title="metodologia">Metodología</a>
                      </li>
                      <li>
                          <a href="#" title="valoraciones">Valoraciones</a>
                      </li>
                      <li>
                          <a href="#" title="colaboradores">Colaboradores</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <a href="contacto.html" title="contacto">Contacto</a>
              </div>
          </div>
         
      </div>
      <div class="footer-bottom">
          <div class="footer-description">
              <h3>Desarrollo de Aplicaciones Móviles</h3>
              <p>!Con nosotros podes hacer realidad las ideas para tu negocio!<p>
          </div>
          <small>© Tecnik - Desarrollo de aplicaciones móviles. <span id="year"></span>, Todos los derecehos reservados</small>
      </div>
  </div>
  </footer>
  
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  </html>
  